.idea
.env
__pycache__
.DS_Store

poetry.lock
dist/

gui.log
autosave_config.json
/configuration_*.json
/src/chipboard_configuration_software/configuration_*.json
/output_events_*.bin
/src/chipboard_configuration_software/output_events*.bin
/src/chipboard_configuration_software/c_decoder/libevent_decoder.so
/src/chipboard_configuration_software/data/
